.container{
  width: 640px;
  margin: 0 auto;
  padding: 20px 0;
  h3{
    text-align: center;
    color: cornflowerblue;
  }
}

.nav{
  display: flex;
  justify-content: center;
  align-items: center;
}